body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1em;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: rgba(114, 111, 111, 0.538);
    margin: 100px auto;
}

.mountain {
    height: 400px;
    width: 100%;
    position: relative;
    top: 5px;
}

h1 {
    position: relative;
    margin-top: 0;
    top: 30px;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
    color: rgb(241, 241, 241);
}

h2,
h3 {
    font-size: 1.7rem;
    position: relative;
    margin-top: 18px;
    bottom: 2px;
    font-weight: normal;
    color: rgb(6, 141, 169);
    font-family: 'Montserrat', sans-serif;
}


.heading2 {
    font-size: 1.7rem;
    position: relative;
    margin-top: 18px;
    bottom: 2px;
    font-weight: normal;
    color: rgb(75, 173, 193);
}

.p11 {
    height: 200px;
    padding-top: 50px;
}

.top-container {
    background-color: rgb(13, 116, 127);
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 380px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 370px;
    top: 50px;
}

.middle-container {

    background-color: rgba(203, 244, 249, 0.819);
}

.bottom-container {
    padding-top: 50px;
    background-color: #11999E;
    margin-bottom: 0px;
    padding-bottom: 1px;
}

.skill-row1 {
    width: 50%;
    margin: 050px auto 100px 50px;
    text-align: left;
    line-height: 2;
}

.skill-row2 {
    width: 50%;
    margin: 050px 50px 100px auto;
    text-align: left;
    line-height: 2;
}

.image2 {
    float: left;
    margin: 010px 50px 100px auto;
}

.image1 {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
}

.btn {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #fafafa);
    background-image: -moz-linear-gradient(top, #11999E, #fafafa);
    background-image: -ms-linear-gradient(top, #11999E, #fafafa);
    background-image: -o-linear-gradient(top, #11999E, #fafafa);
    background-image: linear-gradient(to bottom, #11999E, #fafafa);
    text-decoration: none;
}

.conp {
    margin-bottom: 100px;
}

.footer-link {
    color: #45444455;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.footer-link:hover
{
    color: aqua;
}

.footer-link1 {
    color: #45444455;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.footer-link1:hover
{
    color: aqua;
}

.footer-text
{

    padding: 20px 0 ;
    font-size: 0.75em;
    color: #454444c2;
}